@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/*#be185d  */
:root {
  --primary-color: #db2777;
  --dark-gray: #6b7280;
  --off-white: #f3f4f6;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-center {
  margin: auto;
  max-width: 600px;
}
.link {
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5rem;
}
.link-primary {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  color: #fff;
  margin-right: 1rem;
}
.home .link-primary,
.blogs .link-primary {
  margin-right: 0;
}
.link-secondary {
  background-color: #fff;
  padding: 0.4rem 0.9rem;
  border: 0.1rem solid var(--primary-color);
  color: var(--primary-color);
}
.description {
  margin: 1rem 0;
}
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  margin: 0rem 0.5rem;
}
.navigation {
  background-color: var(--primary-color);
  color: #fff;
  font-size: large;
  padding: 1rem;
  padding-top: 2.8rem;
  border-bottom-left-radius: 1.5rem;
}
.navigation .link {
  padding: 0 0.8rem;
}
.nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}
.navigation .link {
  color: #fff;
}
.list-nav-pills {
  text-align: right;
}
.link-active {
  font-weight: bold;
}
.hero {
  text-align: center;
}
.hero-img {
  width: 400px;
  display: block;
  margin: auto;
  margin-top: 1rem;
}
.hero-heading {
  color: var(--primary-color);
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.section {
  padding: 2rem;
}
.section h1,
.section h2,
.section h3 {
  text-align: center;
}
.off-white {
  background-color: var(--off-white);
}
footer {
  background-color: var(--primary-color);
  padding: 1.5rem 2rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1.5rem;
}
footer .link {
  color: white;
}
footer ul {
  padding-inline-start: 0px;
}
.footer {
  margin-top: 2rem;
}
.navigation,
.section,
.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}
.section {
  border-radius: 1rem;
}
.description {
  text-align: center;
}
.home,
.projects,
.blogs {
  text-align: center;
}
.highlight {
  color: var(--primary-color);
}
.read-blogs,
.see-code {
  font-size: 2rem;
  color: var(--dark-gray);
  margin: 4rem 0;
}
